In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle("dataset/test.pkl", compression="zip")

In [4]:
df.head()

       x     y     z    vx    vy    vz    px    py    pz  distance  speed
0 -117.0  87.0 -33.0  0.47  0.03  0.03  1.90 -0.53  0.57     150.0  5.232
1 -113.0  87.0 -33.0  0.47  0.04  0.03  2.00 -0.34  0.76     146.0  5.232
2 -109.0  87.0 -33.0  0.47  0.04  0.02  2.16 -0.05  0.95     143.0  5.232
3 -105.0  87.0 -33.0  0.47  0.04  0.02  2.33  0.27  1.10     140.0  5.232
4 -101.0  87.0 -33.0  0.48  0.04  0.01  2.48  0.49  1.17     137.0  5.232

In [6]:
df.head()

       x     y     z    vx    vy    vz    px    py    pz  distance  speed
0 -117.0  87.0 -33.0  0.47  0.03  0.03  1.90 -0.53  0.57     150.0  5.232
1 -113.0  87.0 -33.0  0.47  0.04  0.03  2.00 -0.34  0.76     146.0  5.232
2 -109.0  87.0 -33.0  0.47  0.04  0.02  2.16 -0.05  0.95     143.0  5.232
3 -105.0  87.0 -33.0  0.47  0.04  0.02  2.33  0.27  1.10     140.0  5.232
4 -101.0  87.0 -33.0  0.48  0.04  0.01  2.48  0.49  1.17     137.0  5.232

In [8]:
df.shape

(304116, 11)

In [ ]:
speeds = [5.232,6.528,6.852,7.824,9.768,10.092]
data =[]
for speed in speeds:
    dataset = df[df["speed"]==speed][:500,:]
    data.append(dataset)

In [28]:
df[df["speed"]==6.852]

Empty DataFrame
Columns: [x, y, z, vx, vy, vz, px, py, pz, distance, speed]
Index: []

In [24]:
df.groupby(["speed"]).count()

,x,y,z,vx,vy,vz,px,py,pz,distance
speed,,,,,,,,,,
5.232,50686,50686,50686,50686,50686,50686,50686,50686,50686,50686
6.528,50686,50686,50686,50686,50686,50686,50686,50686,50686,50686
6.852,50686,50686,50686,50686,50686,50686,50686,50686,50686,50686
7.824,50686,50686,50686,50686,50686,50686,50686,50686,50686,50686
9.768,50686,50686,50686,50686,50686,50686,50686,50686,50686,50686
10.092,50686,50686,50686,50686,50686,50686,50686,50686,50686,50686